/* @theme custom */
@import "default";

section.body {
	justify-content: flex-start;
}

/* section.split {
	justify-content: flex-start;
	overflow: visible;
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-rows: 100px auto;
	grid-template-areas:
		"slideheading slideheading"
		"leftpanel rightpanel";
} */

.split {
	justify-content: flex-start;
	overflow: visible;
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-rows: 100px auto;
	grid-template-areas:
		"slideheading slideheading"
		"leftpanel rightpanel";
}
