/* @theme custom */
@import "default";

section.body {
	justify-content: flex-start;
}

.split {
	justify-content: flex-start;
	overflow: visible;
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-rows: 100px auto;
	grid-template-areas:
		"slideheading slideheading"
		"leftpanel rightpanel";
}

h1 {
	color: #55c402;
}

strong {
	color: #3b8700;
}
